@import url('https://fonts.googleapis.com/css?family=Lemonada|Sriracha&display=swap');

body {
	margin: 0;
	font-family: 'Lemonada', cursive !important;
	background: #343a40 !important;
}

.completed {
	font-size: 1em;
	line-height: 1em;
	position: relative;
}

.completed::after {
	border-bottom: 0.125em solid #6cc255;
	content: '';
	left: 0;
	margin-top: calc(0.125em / 2 * -1);
	position: absolute;
	right: 0;
	top: 44%;
}

.c-pointer {
	position: relative;
	top: 3.5px;
	left: 5px;
}

.c-pointer:hover {
	cursor: pointer;
	background: red;

	
}